config.json
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
logs/
*.log
*.session
*.session-journal
assets/dice.png
assets/slot.png
assets/send.png
assets/emoji_button.png
.DS_Store
build/
*.spec
dist/DiceBot67/
